.error
    ///I
    border-width: 2px
    color: $danger
    @extend .is-danger

.success
    ///I
    border-width: 2px
    color: $success
    @extend .is-success

.loading
    ///I
    @extend .is-loading

.button
    margin-top: 1rem

.field-inline
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start   
.field
  margin-right: 2rem